fastapi
uvicorn[standard]
python-dotenv
scrapegraphai
scrapegraph-py
langchain_openai
pydantic
beautifulsoup4
playwright
html2text
requests
ipykernel
qdrant-client
nest_asyncio
pandas
google-genai
locust
pytest 
httpx
pytest-cov




python-dotenv
langchain
langchain_community
langchain_openai
langgraph
scrapegraphai
nest_asyncio
playwright
typing_extensions
IPython
pydantic_settings
pygraphviz